{% extends "base.html" %}

{% block content %}
  <h1>Login</h1>
  
  {% if form.errors %}
    <p style="color: red">Invalid credentials</p>
  {% endif %}

  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}

    <label for="id_username">Username:</label>
    <input type="text" name="username" id="id_username" value="user">
    <br>
    <label for="id_password">Password:</label>
    <input type="password" name="password" id="id_password" value="user12345">
    <br>
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" value="Submit">
  </form>
{% endblock %}
