{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}<title>Login</title>{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Login</h2>
        </div>
        <div class="card-body">
          {% if form.errors %}
            <div class="alert alert-danger" role="alert">
              Your username and password didn't match. Please try again.
            </div>
          {% endif %}
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('id_username').value = 'adminn';
  document.getElementById('id_password').value = 'adminn';
</script>

{% endblock %}