<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">
      User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a>
    </li>
    <li class="list-group-item">
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" style="background: none; border: none; color: blue; cursor: pointer;">
          Logout
        </button>
      </form>
    </li>
  {% else %}
    <li class="list-group-item">
      <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
    </li>
  {% endif %}

  <br>
  <li class="list-group-item">
    <a href="{% url 'restaurant:index' %}">Home page</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'restaurant:cook-list' %}">Cooks</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'restaurant:dish-list' %}">Dishes</a>
  </li >
  <li class="list-group-item">
    <a href="{% url 'restaurant:dish_type-list' %}">Dishes Types</a>
  </li>
</ul>
