{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}<title>Cooks</title>{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h1 class="mb-0">Cook List</h1>
      <a href="{% url 'restaurant:cook-create' %}" class="btn btn-primary">Create</a>
    </div>

    <div class="card-body">
      <form method="get" action="" class="form-inline mb-4">
        {{ search_form|crispy }}
        <input type="submit" value="🔍" class="btn btn-secondary ml-2">
      </form>

      {% if cook_list %}
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Years of Experience</th>
              </tr>
            </thead>
            <tbody>
              {% for cook in cook_list %}
                <tr>
                  <td>{{ cook.id }}</td>
                  <td><a href="{{ cook.get_absolute_url }}">{{ cook.username }} {% if user == cook %} (Me){% endif %}</a></td>
                  <td>{{ cook.first_name }}</td>
                  <td>{{ cook.last_name }}</td>
                  <td>{{ cook.years_of_experience }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p>There are no cooks in the service.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}