{% extends "base.html" %}

{% block content %}
  <h1>Cook list</h1>
  {% if cook_list %}
    <ul>
      {% for cook in cook_list%}
        <li>
          <a href="{% url "restaurant:cook-detail" pk=cook.id %}">{{ cook.username }}</a>
          ({{ cook.first_name }} {{ cook.last_name }})
          {% if cook.username == request.user.username %}
            <strong>(Me)</strong>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cooks in restaurant</p>
  {% endif %}
{% endblock %}
