{% extends "base.html" %}

{% block content %}
<h1>DishType List <a style=" " href="{% url 'restaurant:dish_type-create' %}">+</a></h1>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  {% for dish_type in object_list %}
  <tr>
    <td>{{ dish_type.name }}</td>
    <td>
      <a href="{% url 'restaurant:dish_type-update' pk=dish_type.id %}">UPDATE</a>
    </td>
    <td>
      <a href="{% url 'restaurant:dish_type-delete' pk=dish_type.id %}">DELETE</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% include "includes/pagination.html" %}
{% endblock %}